@using Microsoft.CodeAnalysis.CSharp.Syntax
@model CommentSold.WebTest.Dto.ProductForListDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div>
    @Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)
</div>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Style)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inventories)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Inventories.Count == 0)
            {
                <text>No Skus</text>
            }
            else
            {
                foreach (var inventory in Model.Inventories)
                 {
                     <a asp-controller="Inventory" asp-action="Details" asp-route-id="@inventory.Id">
                         @Html.DisplayFor(i => inventory.SKU)
                     </a>
                     <text> (</text>
                     @Html.DisplayFor(i => inventory.Quantity)
                     <text> units) <br/></text>
                 }
            }

        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="GetProductsForUser">Back to List</a>
</div>
