@model CommentSold.WebTest.Helpers.PagedList<CommentSold.WebTest.Dto.ProductDto>
@{
    ViewData["Title"] = "GetProductsForUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="css/productsList.css">
<h1>Products For User</h1>

<table class="table">
    <thead>
        <tr>
            <th>
              Product Name
            </th>
            <th>
                Style
            </th>
            <th>
                Brand
            </th>
            <th>
               Skus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <div id="accordion">
            @foreach (var item in Model)
            {
                var skusDivId = "skus" + item.Id;
                var skusDivIdHash = "#skus" + item.Id;

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Style)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        <div class="panel-title">
                            <button class="btn btn-link p-0 @(item.Inventories.Count == 0 ? "disabled" : "")" data-toggle="collapse" data-target="@skusDivIdHash" aria-expanded="false" aria-controls="@skusDivId">
                                @if (item.Inventories.Count == 0)
                                {
                                    <text>No Skus</text>
                                }
                                else
                                {
                                    @item.Inventories.Count
                                    <text> SKUs (</text>
                                    @item.Inventories.Sum(x => x.Quantity)
                                    <text> total items)</text>
                                }
                            </button>
                        </div>
                        <div class="collapse" id="@skusDivId" data-parent="#accordion">
                            @foreach (var inventory in item.Inventories)
                            {
                                <a asp-controller="Inventory" asp-action="Details" asp-route-id="@inventory.Id">
                                    @Html.DisplayFor(i => inventory.SKU)
                                </a>
                                <text> (</text>
                                @Html.DisplayFor(i => inventory.Quantity)
                                <text> units) <br/></text>
                            }
                        </div>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
    </div>
</tbody>
</table>
@{
    var prevDisabled = !Model.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.HasNext ? "disabled" : "";
    var currentShownLow = (Model.PageSize) * (Model.CurrentPage-1) + 1;
    var currentShownHigh = currentShownLow + Model.PageSize-1;
    if (currentShownHigh > Model.TotalCount)
    {
        currentShownHigh = Model.TotalCount;
    }
}

<a asp-action="GetProductsForUser"
   asp-route-pageNumber="@(Model.CurrentPage - 1)"
   asp-route-pageSize="@(Model.PageSize)"
   class="btn @prevDisabled">
    Previous
</a>
<a asp-action="GetProductsForUser"
   asp-route-pageNumber="@(Model.CurrentPage + 1)"
   asp-route-pageSize="@(Model.PageSize)"
   class="btn @nextDisabled">
    Next
</a>
<p>Showing @currentShownLow - @currentShownHigh  of @Model.TotalCount</p>

<